.vscode

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/website/app/node_modules
/web/website/app/.pnp
/web/website/app/.pnp.js
/web/website/app.yarn/install-state.gz

# testing
/web/website/app/coverage

# next.js
/web/website/app/.next/
/web/website/app/out/

# production
/web/website/app/build

# misc
/web/website/app/.DS_Store
/web/website/app/*.pem

# debug
/web/website/app/npm-debug.log*
/web/website/app/yarn-debug.log*
/web/website/app/yarn-error.log*

# local env files
/web/website/app/.env*.local

# vercel
/web/website/app/.vercel

# typescript
/web/website/app/*.tsbuildinfo

/web/website/app/*.env
/web/db/*.env